[submodule "Doom3/Source/Helper/vector_erase_move_lastelement"]
	path = Doom3/Source/Helper/vector_erase_move_lastelement
	url = https://github.com/SungJJinKang/vector_erase_move_lastelement.git
[submodule "Doom3/Source/Helper/EasyDirtyChecker"]
	path = Doom3/Source/Helper/EasyDirtyChecker
	url = https://github.com/SungJJinKang/EasyDirtyChecker.git
[submodule "Doom3/Source/Helper/Simple_SingleTon"]
	path = Doom3/Source/Helper/Simple_SingleTon
	url = https://github.com/SungJJinKang/Simple_SingleTon.git
[submodule "Doom3/Source/Helper/portable-snippets"]
	path = Doom3/Source/Helper/portable-snippets
	url = https://github.com/nemequ/portable-snippets.git
[submodule "Doom3/Source/Core/Reflection/clReflect_automation"]
	path = Doom3/Source/Core/Reflection/clReflect_automation
	url = https://github.com/SungJJinKang/clReflect_automation
[submodule "Doom3/Source/thirdparty/imgui"]
	path = Doom3/Source/thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Doom3/Source/thirdparty/glslcc"]
	path = Doom3/Source/thirdparty/glslcc
	url = https://github.com/SungJJinKang/glslcc.git
[submodule "Doom3/Source/Engine/Rendering/Culling/EveryCulling"]
	path = Doom3/Source/Engine/Rendering/Culling/EveryCulling
	url = https://github.com/SungJJinKang/EveryCulling.git
[submodule "Doom3/Source/Core/Container/JINSTL"]
	path = Doom3/Source/Core/Container/JINSTL
	url = https://github.com/SungJJinKang/JINSTL.git
[submodule "Doom3/Source/thirdparty/googletest"]
	path = Doom3/Source/thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "Doom3/Source/Core/Math/JINMATH"]
	path = Doom3/Source/Core/Math/JINMATH
	url = https://github.com/SungJJinKang/JINMATH.git